.service-section-container {
  margin-top: 0;
}
/* ************************* */
.service-banner {
  position: relative;
  background: rgba(107, 112, 255, 0.8);

  background: var(--cc-gradient-snow-left);
  padding: var(--cc-size-3x);
  border-radius: var(--cc-radius-mdx);
  color: white;
  overflow: hidden;

  margin-top: 0;
}
.service-banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--cc-size-1x3);
  z-index: 100;
}
.service-banner-content h1 {
  font-size: var(--cc-text-lgx2);
}
.service-banner-content-description {
  width: 60%;
  font-size: var(--cc-text-md);
  max-height: calc(3 * 1.2em);

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.service-banner-content > span {
  font-size: var(--cc-text-smx2);
  text-decoration: underline;
  cursor: pointer;
}
.service-banner-price {
  display: flex;
  gap: var(--cc-size-1x3);
}
.service-banner-price * {
  font-size: var(--cc-text-md);
}

/* ****************************** */
.divisor-layout-container {
  display: flex;
}
.divisor-layout-container .divisor-layout-item {
  width: 25%;
  background-color: transparent;
}
.service-result-images-swiper-container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  position: relative;
  /* background-color: red; */
}
.service-result-images-swiper-container .swiper {
  position: unset;
  width: fit-content;
}
.service-result-images-container {
  display: grid !important;
  grid-template-columns: repeat(4, minmax(var(--cc-size-12), 1fr));
  
  gap: var(--cc-size-1x2);

  width: 50%;

  margin-bottom: var(--cc-size-6);
}
.service-result-images-container .swiper-pagination {
  bottom: calc( var(--cc-size-px8) )!important;
}
.service-result-images img {
  aspect-ratio: 12 / 16 !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--cc-radius-mdx2);
}

/* ***************************** */
.service-content-offers {
  display: flex;
  flex-direction: column;

  max-width: calc(1rem * 45);
  margin: 0 auto;
  padding: 0 var(--cc-size-2);
  padding-top: var(--cc-size-2);
  border-radius: var(--cc-radius-mdx);
  margin-bottom: var(--cc-size-2x3);

  background: linear-gradient(to right bottom, rgba(191, 237, 227, 0.6)  10%, rgba(152, 221, 255, 0.6) 30%, rgba(218, 149, 255, 0.6) 50%, rgba(255, 151, 199, 0.6) 75%);
}
.service-content-offers-item {
  display: flex;
  align-items: start;
  gap: var(--cc-size-3);
  padding: var(--cc-size-1x) 0;
  border-bottom: 2px solid white;
}
.service-content-offers-item:last-child {
  border: none;
}
.service-content-offers-item span {
  font-size: var(--cc-text-smx2);
}
.service-content-offers-item svg {
  flex: none;
  width: var(--cc-size-2);
  fill: rgb(53, 146, 233);
}

/* ******************************* */
.service-banner-bg-content {
  position: absolute;
  bottom: -2%;
  right: 5%;
  height: 100%;
  z-index: 1;
}
.service-banner-bg-content > img {
  height: 100%;
  object-fit: cover;
}

/* ******** responsive breakpoints ************** */
@media screen and (width <= 590px) {
  .section-contained-md.service-banner {
    margin: var(--cc-size-4x) var(--cc-size-1x3);
  }

  .service-banner-content-description {
    width: 100%;
  }

  .service-result-images-container {
    grid-template-columns: repeat(2, minmax(var(--cc-size-12), 1fr));
    width: 100%;
  }

  .divisor-layout-container .divisor-layout-item {
    width: 0px;
  }

  .service-content-offers {
    width: 90%;
  }
}

@media screen and (width <= 990px) {
  .service-result-images-container {
    width: 80%;
  }
  .divisor-layout-container .divisor-layout-item {
    width: 10%;
  }
}

@media screen and (990px < width <= 1700px) {
  .service-result-images-container {
    width: 60%;
    /* grid-template-columns: repeat(3, minmax(var(--cc-size-12), 1fr)); */
  }
  .divisor-layout-container .divisor-layout-item {
    width: 20%;
  }
}