.test-campaign {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding: var(--cc-size-2) 0;

  border-radius: var(--cc-radius-mdx2);
  background-color: rgba(137, 43, 226, 0.216);
  background-image: linear-gradient(to top, rgba(246, 79, 89, 0.4), rgba(196, 113, 237, 0.4), rgba(18, 194, 233, 0.4)),
  url("/images/patter-sheet.png");
  background-size: 600px;
  background-repeat: repeat;
}
.test-campaign h2 {
  width: 50%;
  font-size: var(--cc-text-lgx);
  font-weight: 700;
  text-align: center;
}

.test-campaign-cards-container {
  position: relative;
  width: 50%;
  height: 30%;
  background-color: transparent;
}
.test-campaign-card {
  position: absolute;
  padding: var(--cc-size-1x);
  width: 50%;
  border-radius: var(--cc-radius-mdx2);
  background-color: transparent;
}
.test-campaign-card p {
  font-size: var(--cc-size-1x);
  font-weight: 500;
}
.test-campaign-card.campaign-card-left {
  top: 0;
  left: var(--cc-size-px2);
  transform: rotate(-10deg);
  background-color: var(--cc-color-purple-secundary);
}
.test-campaign-card.campaign-card-right {
  top: 0;
  right: var(--cc-size-px2);
  transform: rotate(10deg);
  background-color: var(--cc-color-pink-100);
}

@media screen and (width <= 590px) {
  .test-campaign {
    height: 40vh;
    background-size: 300px;
  }
  .test-campaign h2 {
    width: 95%;
  }
  .test-campaign-cards-container {
    width: 90%;
  }
}
