.favorite-products-container {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 80vh;
  margin-bottom: var(--cc-size-6);
  position: relative;
}

.favorite-products-banner {
  position: relative;
}
.favorite-products-banner-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--cc-size-1x2);

  width: 100%;
  height: 100%;
  padding: var(--cc-size-2x3);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.favorite-products-banner-content > * {
  color: white;
}
.favorite-products-banner-background {
  width: 100%;
  height: 100%;
  filter: blur(0px);
  background-image: url("/images/DSC_7604.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-position: 100% 100%;
}

.favorite-products-slider {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.favorite-products-slider  .swiper-slide{
  width: 100%;
  height: 100%;
}
.favorite-products-container .swiper {
  position: unset;
}
.favorite-products-container .swiper-button-prev {
  left: 40%;
}
.favorite-products-slider .swiper-pagination {
  bottom: calc( var(--cc-size-4) * -1);
  left: 70% !important;
}

@media screen and (width <= 590px) {
  .favorite-products-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    height: 80vh;

    position: unset;
  }

  .favorite-products-container .swiper {
    position: relative;
  }
  .favorite-products-container .swiper-button-prev {
    left: 0;
  }
}