.image-diff-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.image-diff-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--cc-size-1x);
}
.image-diff-header h2{
  font-size: var(--cc-text-lg);
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
}

.image-diff-header p {
  font-size: var(--cc-text-smx2);
  width: 70%;
  text-align: center;
  margin: 0 auto;
}


.swiper-image-diff{
  width: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: red; */
}

.swiper-item {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.swiper-item img {
  display: block;
  width: 100%;
}

.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
  background: none;
}