.reels-slider-container {
}

.reels-slider-container iframe {
  height: 100%;
  border-radius: var(--cc-radius-lg);
}

.reels-slider-container button {
  gap: var(--cc-size-1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: var(--cc-gradient-primary);
}

.reels-slider-container button svg {
  width: var(--cc-size-2);
  fill: white;
}

.my-swiper {
  width: 100%;
  height: 45vh;
}
