.image-diff-container h2{
  font-size: var(--cc-text-lg);
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
}

.image-diff-container p {
  font-size: var(--cc-text-smx2);
  width: 70%;
  text-align: center;
  margin: 0 auto;
}


.swiper-image-diff{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-item {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.swiper-item img {
  display: block;
  width: 100%;
}

.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
  background: none;
}