:root {
  font-size: 16px;

  --cc-size-px:   1px;
  --cc-size-px2:  calc(1rem * 0.125); /*2px 1.5px 1px*/
  --cc-size-px3:  calc(1rem * 0.25);  /*4px 3px 2px*/
  --cc-size-px4:  calc(1rem * 0.375); /*6px 4.5px 3px*/
  --cc-size-px5:  calc(1rem * 0.5);   /*8px 6px 4px*/
  --cc-size-px6:  calc(1rem * 0.625); /*10px 7.5px 5px*/
  --cc-size-px7:  calc(1rem * 0.75);  /*12px 9px 6px*/
  --cc-size-px8:  calc(1rem * 0.875); /*14px 10.5px 7px*/

  --cc-size-1:    calc(1rem * 1);  /*16px 12px 8px*/
  --cc-size-1x:   calc(1rem * 1.25); /*20px 15px 10px*/
  --cc-size-1x2:  calc(1rem * 1.5); /*24px 18px 12px*/
  --cc-size-1x3:  calc(1rem * 1.75); /*28px 21px 14px*/

  --cc-size-2:    calc(1rem * 2);  /*32px 24px 16px*/
  --cc-size-2x:   calc(1rem * 2.25); /*36px 27px 18px*/
  --cc-size-2x2:  calc(1rem * 2.5); /*40px 30px 20px*/
  --cc-size-2x3:  calc(1rem * 2.75); /*44px 33px 22px*/

  --cc-size-3:    calc(1rem * 3); /*48px 36px 24px*/
  --cc-size-3x:   calc(1rem * 3.25); /*52px 39px 26px*/
  --cc-size-3x2:  calc(1rem * 3.5); /*56px 42px 28px*/
  --cc-size-3x3:  calc(1rem * 3.75); /*60px 45px 30px*/

  --cc-size-4:    calc(1rem * 4);  /*64px 48px 32px*/
  --cc-size-4x:   calc(1rem * 4.25); /*68px 51px 34px*/

  --cc-size-5:    calc(1rem * 5);  /*80px 60px 40px*/
  --cc-size-6:    calc(1rem * 6);  /*96px 72px 48px*/
  --cc-size-7:    calc(1rem * 7);  /*112px 84px 56px*/
  --cc-size-8:    calc(1rem * 8);  /*128px 96px 64px*/
  --cc-size-9:    calc(1rem * 9);  /*144px 108px 72px*/
  --cc-size-10:   calc(1rem * 10); /*160px 120px 80px*/
  --cc-size-11:   calc(1rem * 11); /*176px 132px 88px*/
  --cc-size-12:   calc(1rem * 12); /*192px 144px 96px*/
  --cc-size-13:   calc(1rem * 13); /*208px 156px 104px*/
  --cc-size-14:   calc(1rem * 14); /*224px 168px 112px*/
  --cc-size-15:   calc(1rem * 15); /*240px 180px 120px*/
  --cc-size-16:   calc(1rem * 16); /*256px 192px 128px*/
  --cc-size-18:   calc(1rem * 18); /*288px 216px 144px*/
  --cc-size-20:   calc(1rem * 20); /*320px 240px 160px*/
  --cc-size-24:   calc(1rem * 24); /*384px 288px 192px*/
  --cc-size-26:   calc(1rem * 26); /*384px 288px 192px*/
  --cc-size-28:   calc(1rem * 28); /*384px 288px 192px*/
  --cc-size-30:   calc(1rem * 30); /*384px 288px 192px*/
  --cc-size-34:   calc(1rem * 34); /*384px 288px 192px*/
  --cc-size-40:   calc(1rem * 40); /*384px 288px 192px*/
  --cc-size-44:   calc(1rem * 44); /*384px 288px 192px*/
  --cc-size-50:   calc(1rem * 50); /*384px 288px 192px*/

  --cc-text-sm: var(--cc-size-px8);
  --cc-text-smx: var(--cc-size-1);
  --cc-text-smx2: var(--cc-size-1x);
  --cc-text-md: var(--cc-size-1x2);
  --cc-text-mdx: var(--cc-size-1x3);
  --cc-text-mdx2: var(--cc-size-2);
  --cc-text-lg: var(--cc-size-2x);
  --cc-text-lgx: var(--cc-size-2x3);
  --cc-text-lgx2: var(--cc-size-3x3);

  --cc-radius-full: 100%;
  --cc-radius-sm: 2px;
  --cc-radius-smx: 4px;
  --cc-radius-smx2: 6px;
  --cc-radius-md: 8px;
  --cc-radius-mdx: 12px;
  --cc-radius-mdx2: 16px;
  --cc-radius-lg: 22px;
  --cc-radius-lgx: 26px;
  --cc-radius-lgx2: 32px;

  --cc-color-gray: #8291a7;
}
main {
  width: 100%;
  min-height: 50dvh;
}

.section-contained-sm {
  margin: var(--cc-size-4x) var(--cc-size-15);
}
.section-contained-md {
  margin: var(--cc-size-4x) var(--cc-size-7);
}
.section-contained-lg {
  margin: var(--cc-size-4x) var(--cc-size-1x3);
}
.section-contained-full {
  width: 100%;
}

.text-sm {
  font-size: var(--cc-size-px8);
}
.text-smx {
  font-size: var(--cc-size-1);
}
.text-smx2 {
  font-size: var(--cc-size-1x);
}
.text-md {
  font-size: var(--cc-size-1x2);
}
.text-mdx {
  font-size: var(--cc-size-1x3);
}
.text-mdx2 {
  font-size: var(--cc-size-2);
}
.text-lg {
  font-size: var(--cc-size-2x);
}
.text-lgx {
  font-size: var(--cc-size-3);
}
.text-lgx2 {
  font-size: var(--cc-size-4);
}

.text-center {
  text-align: center;
}

.text-bold-sm {
 font-weight: 550;
}
.text-bold-smx {
  font-weight: 600;
 }
 .text-bold-smx2 {
  font-weight: 650;
 }
 .text-bold-md {
  font-weight: 700;
 }
.text-bold-mdx {
  font-weight: 750;
 }
 .text-bold-mdx2 {
  font-weight: 800;
 }
 .text-bold-lg {
  font-weight: 850;
 }
 .text-bold-lgx {
  font-weight: 900;
 }

/* TODO: Normalize in var colors */
.text-yellow {
  color: rgb(248, 248, 138);
}
.text-orange {
  color: #fdaa62
}
/* TODO: NO quiero text-bg-<color> solo bg-<color> */
.text-bg-yellow {
  background-color: rgb(248, 248, 138);
}
.text-bg-orange {
  background-color: #fdaa62;
}
.text-highlight {
  padding: var(--cc-size-px) var(--cc-size-px6);
  border-radius: var(--cc-radius-md);
}

/*************** MARGIN ***********************/
.margin-sm {
  margin: var(--cc-size-px5);
}
.margin-smx {
  margin: var(--cc-size-px8);
}
.margin-smx2 {
  margin: var(--cc-size-1);
}
.margin-smx3 {
  margin-bottom: var(--cc-size-1x);
}
.margin-md {
  margin-bottom: var(--cc-size-1x2);
}
.margin-mdx {
  margin: var(--cc-size-1x3);
}
.margin-mdx2 {
  margin: var(--cc-size-2x);
}
.margin-lg {
  margin: var(--cc-size-2x3);
}
.margin-lgx {
  margin-bottom: var(--cc-size-3x);
}
.margin-lgx2 {
  margin: var(--cc-size-3x3);
}
/* MARGIN BOTTOM */
.margin-bottom-sm {
  margin-bottom: var(--cc-size-px5);
}
.margin-bottom-smx {
  margin-bottom: var(--cc-size-px8);
}
.margin-bottom-smx2 {
  margin-bottom: var(--cc-size-1);
}
.margin-bottom-smx3 {
  margin-bottom: var(--cc-size-1x);
}
.margin-bottom-md {
  margin-bottom: var(--cc-size-1x2);
}
.margin-bottom-mdx {
  margin-bottom: var(--cc-size-1x3);
}
.margin-bottom-mdx2 {
  margin-bottom: var(--cc-size-2x);
}
.margin-bottom-lg {
  margin-bottom: var(--cc-size-2x3);
}
.margin-bottom-lgx {
  margin-bottom: var(--cc-size-3x);
}
.margin-bottom-lgx2 {
  margin-bottom: var(--cc-size-3x3);
}

.margin-top-sm {
  margin-top: var(--cc-size-px5);
}
.margin-top-smx {
  margin-top: var(--cc-size-px8);
}
.margin-top-smx2 {
  margin-top: var(--cc-size-1);
}
.margin-top-smx3 {
  margin-top: var(--cc-size-1x);
}
.margin-top-md {
  margin-top: var(--cc-size-1x2);
}
.margin-top-mdx {
  margin-top: var(--cc-size-1x3);
}
.margin-top-mdx2 {
  margin-top: var(--cc-size-2x);
}
.margin-top-lg {
  margin-top: var(--cc-size-2x3);
}
.margin-top-lgx {
  margin-top: var(--cc-size-3x);
}
.margin-top-lgx2 {
  margin-top: var(--cc-size-3x3);
} 

/****************** PADDING *****************************/
.padding-sm {
  padding: var(--cc-size-px5);
}
.padding-smx {
  padding: var(--cc-size-px8);
}
.padding-smx2 {
  padding: var(--cc-size-1);
}
.padding-smx3 {
  padding: var(--cc-size-1x);
}
.padding-md {
  padding: var(--cc-size-1x2);
}
.padding-mdx {
  padding: var(--cc-size-1x3);
}
.ppadding-mdx2 {
  padding: var(--cc-size-2x);
}
.padding-lg {
  padding: var(--cc-size-2x3);
}
.padding-lgx {
  padding: var(--cc-size-3x);
}
.padding-lgx2 {
  padding: var(--cc-size-3x3);
}

/**** CENTER ****/
.center-x {  
  margin-inline: auto;
  display: block;
}


/******* BUTTONS ************/
.btn {
  padding: var(--cc-size-1x2);
  border-radius: var(--cc-radius-mdx2);
  font-size: var(--cc-size-1x);
  font-weight: bold;
  width: fit-content;
  height: fit-content;
}
.btn-primary {
  /* TODO: create Var Color */
  background-color: rgb(53, 146, 233);
  color: white;
}
.btn-outline {
  /* TODO: create Var Color */
  background-color: inherit;
  color: #3c435a;
  border: 2px solid #3c435a;
}

/********** NAVIGATION SLIDER ********************/
.swiper-button-prev,
.swiper-button-next{
  background-color: rgba(255, 255, 255, 0.7) !important;
  border-radius: 100%;
  width: var(--cc-size-4x) !important;
  height: var(--cc-size-4x) !important;
  top: calc(55% - calc(var(--cc-size-4x) / 2));
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: rgba(0, 0, 0, 0.7) ;
  font-size: var(--cc-text-lg);
  font-weight: bold;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled{
  pointer-events: auto !important;
}




/* BREAKPOINTS
  sm	width <= 590px	
  md	590px < width <= 990px	
  mdx	990px < width <= 1700px
  lg	1700px < width <= 2200px
  lgx width > 2200px

  @media screen and (width <= 590px) {}

  @media screen and (590px < width <= 990px) {}

  @media screen and (990px < width <= 1700px) {}  

  @media screen and ( 1700px < width <= 2200px) {}

  @media screen and ( width > 2200px) {}
*/

@media screen and (width <= 590px) {
  :root {
    font-size: 8px;
  }

  .section-contained-sm {
    margin: var(--cc-size-4x) var(--cc-size-1x3);
  }
}

@media screen and (590px < width <= 990px) {
  :root {
    font-size: 10.5px;
  }
}

@media screen and (990px < width <= 1700px) {
  :root {
    font-size: 12.5px;
  }
}

@media screen and ( 1700px < width <= 2200px) {
  :root {
    font-size: 17px;
  }
}

@media screen and ( width > 2200px) {
  :root {
    font-size: 20px;
  }
}
