.container-section-card-services {
  margin-bottom: var(--cc-size-2x3);
}

.header-card-services {
  display: flex;
  align-items: center;
  margin-bottom: var(--cc-size-1);
}
.header-card-services h2 {
  font-size: var(--cc-text-lg);
  font-weight: 500;
}

.container-swiper-wrapper-card-services {
  width: 100%;
  height: 40vh;
  overflow: visible;
}

.container-swiper-wrapper-card-services .swiper-button-prev,
.container-swiper-wrapper-card-services .swiper-button-next{
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 100%;
  width: var(--cc-size-4x);
  height: var(--cc-size-4x);
  top: calc(55% - calc(var(--cc-size-4x) / 2));
}
.container-swiper-wrapper-card-services .swiper-button-prev::after,
.container-swiper-wrapper-card-services .swiper-button-next::after {
  color: rgba(0, 0, 0, 0.7);
  font-size: var(--cc-text-lg);
  font-weight: bold;
}
.container-swiper-wrapper-card-services .swiper-button-prev.swiper-button-disabled,
.container-swiper-wrapper-card-services .swiper-button-next.swiper-button-disabled{
  pointer-events: auto;
}

.container-card-services {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 6px;

  color: white;
  font-weight: bold;
  padding: 15px;
  border-radius: var(--cc-size-1);

  background-color: rgb(213, 190, 235);
  /*TODO: Estandarizar lenguaje visual   */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 0%;

  text-decoration: none;
}
.container-card-services::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: var(--cc-size-1);
}
.card-services-title {
  color: white;
  font-size: var(--cc-size-1x2);
  font-weight: bold;
  /*TODO: Estandarizar lenguaje visual   */
  margin-bottom: 15px;
}

.swiper-pagination-card-services {
  display: flex;
  justify-content: center;
  position: absolute;
}
.swiper-pagination-card-services > span {
  width: 15px;
  height: 15px;
}

@media screen and (width <= 590px) {
  .container-swiper-wrapper-card-services {
    padding: 0;
  }
}
@media screen and (590px < width <= 990px) {
  /* .container-section-card-services {

  } */
  .container-swiper-wrapper-card-services {
    padding: 0;
  }
}
@media screen and (990px < width <= 1500px) {
}
/* @media screen and (width > 1500px) {
  .container-swiper-wrapper-card-services {
  }
} */
