.container-section-card-services {
  margin-bottom: var(--cc-size-2x3);
}

.header-card-services {
  display: flex;
  align-items: center;
  margin-bottom: var(--cc-size-1);
}
.header-card-services h2 {
  font-size: var(--cc-text-lg);
  font-weight: 500;
}

.container-swiper-wrapper-card-services {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(var(--cc-size-16), 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(var(--cc-size-20), 1fr));
  gap: var(--cc-size-1x2);
}

.container-card-services {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: bold;

  text-decoration: none;
  color: inherit;
}
.container-card-services img {
  aspect-ratio: 12 / 16 !important;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: var(--cc-radius-mdx);
}
.card-services-title {
  font-size: var(--cc-text-md);
  font-weight: 500;
}

.swiper-pagination-card-services {
  display: flex;
  justify-content: center;
  position: absolute;
}
.swiper-pagination-card-services > span {
  width: 15px;
  height: 15px;
}

@media screen and (width <= 590px) {
  .container-swiper-wrapper-card-services {
    padding: 0;
  }
}
@media screen and (590px < width <= 990px) {
  /* .container-section-card-services {

  } */
  .container-swiper-wrapper-card-services {
    padding: 0;
  }
}
@media screen and (990px < width <= 1500px) {
}
/* @media screen and (width > 1500px) {
  .container-swiper-wrapper-card-services {
  }
} */
