.services-filter-container {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--cc-size-2);
  gap: var(--cc-size-1);
}
.services-filter-container label {
  font-size: var(--cc-text-md);
}
.services-filter-container select {
  font-size: var(--cc-text-md);
  height: var(--cc-size-4x);
}
.services-filter-container select::before {
  display: block;
  content: 'hola';
}

.all-services-container h1 {
  font-size: var(--cc-text-lg);
  margin-bottom: var(--cc-size-2);
}

.services-by-type-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(var(--cc-size-16), 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(var(--cc-size-20), 1fr));
  gap: var(--cc-size-1x2);
}
 .service-by-type-item {
  
}
/*
.service-by-type-item .service-item-image {

} */
.service-by-type-item .service-item-image img {
  aspect-ratio: 12/16;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: var(--cc-radius-mdx);
}
.service-by-type-item .service-item-header {
  display: flex;
  flex-direction: column;
  gap: var(--cc-size-px3);
}
.service-by-type-item .service-item-header h2 {
  height: calc(2 * 1.2em);
  font-size: var(--cc-text-md);
  font-weight: 500;
  text-transform: lowercase;
  overflow: hidden;
}
.service-by-type-item .service-item-header-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--cc-size-1);
  padding-bottom: var(--cc-size-1);
}
.service-by-type-item .service-item-header-buttons a {
  text-align: center;
  width: 100%;
  font-size: var(--cc-text-smx);
  padding: var(--cc-size-px6);
  cursor: pointer;
}

.service-by-type-item .service-item-header-buttons .service-item-header-button-whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--cc-size-1);
}
